<%@ CodeTemplate Language="C#" TargetLanguage="C#" Src="..\CodeSmithHelper.cs" Inherits="XCodeSmith.CodeSmithHelper" Debug="False" Description="" %>

<%@ Property Name="Application" Type="String" Category="Application" Description="Application" %>
<%@ Property Name="Namespace" Type="String" Category="Application" Description="Namespace [using Application.*]" %>

<%@ Property Name="Culture" Type="XCodeSmith.Cultures" Category="Context" Description="Culture for Plural Rules" %>

<%@ Property Name="SourceTables" Type="SchemaExplorer.TableSchemaCollection" Category="Database" Description="Tables" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
using EasyLOB.Data;
using EasyLOB.Persistence;

namespace <%= Namespace %>
{
    public class <%= Application %>GenericRepositoryMongoDB<TEntity> : GenericRepositoryMongoDB<TEntity>, I<%= Application %>GenericRepository<TEntity>
        where TEntity : class, IZDataBase
    {
        #region Methods

        public <%= Application %>GenericRepositoryMongoDB(IUnitOfWork unitOfWork)
            : base(unitOfWork)
        {
            Database = (unitOfWork as <%= Application %>UnitOfWorkMongoDB).Database;
        }

        #endregion Methods
    }
}
